{% extends 'base.html' %}

{% block container %}
<main>
    <section id="catLeft">
        <!-- Create a for loop that will iterate through the list of categories -->
		{% for category in categories%}

            <!-- Insert an if statement to check if the selectedCategory parameter is the same as the categoryId> -->
			{% if selectedCategory == category[0] %}

                <!-- If so, create a p element displaying the category name
				     Use class='selectedCategory' to style the category
                -->
				<p class = "selectedCategory"> {{category[1]}} </p>
		

			{% else %}
                
				<!-- Otherwise, create a p element containing a link to category HTML, containing the 
					 corresponding categoryId as a parameter and displaying the category name.
					 use class='notSelectedCategory' to style the category 
                -->
				<p class = "notSelectedCategory"><a href="/category?categoryid={{category[0]}}"> {{category[1]}}</a></p>
			{%endif%}
		{%endfor%}

    </section>
    <section id="catRight">
        <!-- Create a for loop that will iterate through the list of list of books -->
		{% for book in books %}
        
                <div class='book'>
                    <!-- Insert the book image stored in the static folder and the book as the alt text -->
                    <div><img src='"{{ url_for('static', filename='images/books/' ~ book[6])}}' alt='{{book[2]}}'/></div>
                    <div class='bookDetailBox'>
                        <!-- Insert the corresponding field into each of the following rows -->
                        <p class='bookTitle'>{{book[2]}}</p>
                        <p class='bookDetail'>by {{book[3]}}</p>
                        <p class='bookDetail'>ISBN: {{book[4]}}</p>
                        <p class='bookPrice'>${{book[5]}}</p>
                            <a class='actionButton' href='#'>Add to cart</a>
                        <!-- Insert an if statement such that if the ReadNow flag is set include the Read Now button-->
                            {% if book[7] == 1%}
                                <a class='actionButton' href='#'>Read Now</a>
                            {% endif %}
                    </div>
                </div>


		{%endfor%}
		<!-- This is where the for loop code ends -->

    </section>
</main>
{% endblock %}

