{% extends 'base.html' %}

{% block container %}
<main>
    <section id="catLeft">
        <!-- Create a for loop that will iterate through the list of categories -->

            <!-- Insert an if statement to check if the selectedCategory parameter is the same as the categoryId> -->

                <!-- If so, create a p element displaying the category name
				     Use class='selectedCategory' to style the category
                -->

				{% else %}
                
				<!-- Otherwise, create a p element containing a link to category HTML, containing the 
					 corresponding categoryId as a parameter and displaying the category name.
					 use class='notSelectedCategory' to style the category 
                -->


    </section>
    <section id="catRight">
        <!-- Create a for loop that will iterate through the list of list of books -->
        
                <div class='book'>
                    <!-- Insert the book image stored in the static folder and the book as the alt text -->
                    <div><img src='book image' alt='book name'/></div>
                    <div class='bookDetailBox'>
                        <!-- Insert the corresponding field into each of the following rows -->
                        <p class='bookTitle'>title of the book</p>
                        <p class='bookDetail'>by Author name</p>
                        <p class='bookDetail'>ISBN: number</p>
                        <p class='bookPrice'>$cost</p>
                            <a class='actionButton' href='#'>Add to cart</a>
                        <!-- Insert an if statement such that if the ReadNow flag is set include the Read Now button-->
                            {% if statement goes in here%}
                                <a class='actionButton' href='#'>Read Now</a>
                            {% endif %}
                    </div>
                </div>
		<!-- This is where the for loop code ends -->

    </section>
</main>
{% endblock %}

