{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <!-- Insert some welcome text here -->
        <h1 class="welcomeText">this is a heading</h1>
        <p class="welcomeText">this is text row 1</p>
        <p class="welcomeText">this is text row 2</p>
        <p class="welcomeText">this is text row 3</p>
    </div>
    <div id='mainRight'>
        <h1>Shop by category:</h1>
        <div id='categorySelections'>
            <!-- Create a for loop to iterate through the list of categories -->
            {% for category in categories %}
                <div class='category'>
                    <!-- Insert a p element that contains a link with the categoryid as a URL parameter
                    The category name should be what is displayed
                    The general format should be
                    <p><a href="url with category Id parameter">category name</a></p> -->

                    <!-- Insert an a element that contains a link with the categoryid as a URL parameter
                    It should display an img element that corresponds to the category.  The image file should be stored in the static folder.  The assumption is that the category image filename is the same as the category name.
                    The general format should be
                    <a href="url with category Id parameter"><img = "image filename" alt = "image name"></a> -->

                </div>
            {%endfor%}

        </div>
    </div>
</main>
{% endblock %}
